<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
  />
  <style>
    body{
      background-color: #f8dbbf;
    }
    .table-responsive {
      background-color: #fcf1e6;
      border-radius: 20px;
    }
    .container{
      margin-bottom: .5em;
    }
    .table-responsive{
      margin-top: 5em;
    }
    #filter{
      margin-top: 1.5em;
      padding-left: .6em;
    }
  </style>
  <title>View All Showrooms</title>
  <link rel="icon" type="image/png" href="/RedPandaLogo.png">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d8453177;">
    <div class="container-fluid">
        <div class="logo-image" style="width: 70px; height: 70px; border-radius: 50%; margin-top: -6px; margin-right:2em">
          <img src="../RedPandaLogo.png" class="img-fluid">
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/">Homepage</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" style="text-decoration:underline" aria-current="page" href="/allShowrooms">Showrooms</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/allGalleries">Galleries</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/allArtists">Artists</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/allArtworks">Artworks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/allAddresses">Addresses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/allConsumers">Consumers</a>
                </li>
            </ul>
          <ol class="breadcrumb" style="background-color: #92261877">
            <li class="breadcrumb-item"><a style="color:rgb(253, 245, 245)" href="/">Homepage</a></li>
            <li class="breadcrumb-item active" style="color:rgb(248, 214, 175)" aria-current="page">All Showrooms</li>
          </ol>
        </div>
    </div>
  </nav>
  <div class="container">
    {{#if removedShowroom}}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        Showroom has been removed.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {{/if}}
    <h1 style="text-align:center; margin-top:.75em; margin-bottom:.5em; font-weight:bold; color:rgb(83, 88, 117)">Showrooms</h1>

    <!--Filter-->
    <h3 id="filter">Filters:</h3>
    <div class="container" style="margin-right: 160ex">
      <form type="search" class="input-group" style="margin-right: 160ex;" method="POST" action="/allShowrooms">
        <input type="text" class="form-control" placeholder="Search by Room Number" name="Search">
        <button type="submit" class="btn btn-primary">Search</button>
      </form> 
    </div>
    <div class="row" style="margin: 1.8ex;">
      <a href="/createShowroom" type="button" class="btn btn-primary align-self-center">Register a Showroom</a>
      <a href="/allShowrooms" type="button" class="btn btn-primary align-self-center" style="background-color:darkgoldenrod; margin-top:.5em">Undo Filter</a>
    </div>

    <!-- Main Table -->
    <div class="table-responsive">
      <h3 style="text-align:center; color:rgb(83, 88, 117); margin-bottom:.5em">Showroom table</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="text-align:center">ID</th>
            <th scope="col" style="text-align:center">Gallery ID</th>
            <th scope="col" style="text-align:center">Artist ID</th>
            <th scope="col" style="text-align:center">Room Number</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each rows}} 
          <tr> 
            <td style="text-align:center">{{showRoomID}}</td> 
            <td style="text-align:center">{{galleryID}}</td> 
            <td style="text-align:center">{{artistID}}</td> 
            <td style="text-align:center">{{roomNumber}}</td>
            <td style="text-align:center">
              <!-- Call to action buttons -->
              <ul class="list-inline m-0">
                <li class="list-inline-item">
                  <button onclick="location.href='/editShowroom/{{showRoomID}}'" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit">UPDATE</i></button>
                </li>
                <li class="list-inline-item">
                  <button onclick="location.href='/deleteShowroom/{{showRoomID}}'" class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash">DELETE</i></button>
                </li>
              </ul>
            </td>
          </tr> 
          {{/each}} 
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
